%html
  %head
    = stylesheet_link_tag 'all', 'normalize'
    = javascript_include_tag 'main'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'
    %title= "Nelspike's Den"
  %body
    = yield
